    body{
        margin:0;
        padding:0;
        border:0;
        background-color: darkgray;
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        height: 100%;
    }
    /**********************************************
    *
    *               menu
    *
    ***********************************************/
    
        #menu{
        position:fixed;
        color:black;
        width:100%;
        padding:0;
        margin:0;
        display: block;
        text-align: center;
        overflow:hidden;
        background-color: black;
        padding-bottom: 2em;
        padding-top: 0em;
        } 
        #register{
        position:fixed;
        color:black;
        width:100%;
        padding:0;
        margin:0;
        display: block;
        text-align: center;
        overflow:hidden;
        background-color: black;
        padding-bottom: 1em;
        padding-top: 1em;
        font-size: 1.5em;
}

        #menu a{ 
        padding-left:5%;
        padding-right:5%;
        color: orange;
        text-decoration: none;
        text-align: center;
        border-right: solid;
        border-right-width: 1px;
        font-size: 20px;
        
        }
        #menu a:hover{
        text-decoration: underline;
        }

        #logo-header{
        display:inline-block;
        padding-top: 0.5em;
    
}
    
    /***************************************
    *
    *
    * content
    *
    **************************************/
    
   #logo-main{
       width: 25em;
       height: 20em;
       margin-left: 0;
       margin-right: 0;
       margin-top: 1em;
       display: inline-block;
       overflow: hidden;
}




    #content{
        padding-top: 10em;
        text-align: center;
        border-left: solid;
        border-right:solid;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 15%;
        margin-left:15%;
        background-color: white;
        
    }
    
    @media screen and (max-width: 931px){
    #content{
        margin-right: 10%;
        margin-left: 10%;
    }
}
    
    #content p {
        text-align: left;
        font-size: 20px;
         
    }
    
    #main-content{
        margin-left: 25%;
        margin-right:25%;
        margin-top: 0em;   
    }
    
    @media screen and (max-width: 931px){
    #main-content{
        margin-right: 15%;
        margin-left: 15%;
    }
}
    
    #profile-text{
        display: inline-block;
        text-align: left;
        overflow: hidden;
        padding-left: 2em;
        margin: 0;
    }
    #profile-content{
        padding-top: 7em;
        padding-bottom: 1em;
        border-left: solid;
        border-right:solid;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 22.5%;
        margin-left:15%;
        background-color: white;
        box-shadow: 1px 3px 4px 4px;
        }
#profile-content h1{
    text-align: left;
    padding-left: 23%;
}
#profile-text li,ul{
    color:black;
    text-align: left;
    font-size: 20px;
}
#shared-images{
    text-align: center;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-right: 15%;
    margin-left:15%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 1px 3px 4px 4px;
}
#log-workout{
    background-color: white;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-right: 40%;
    margin-left:40%;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 1px 3px 4px 4px;
    text-align: center;
    
}
#feed{
    background-color: white;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-right: 5%;
    margin-left:80%;
    margin-top:-15em;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 1px 3px 4px 4px;
    text-align: center;
    overflow:hidden;
}
#feed p{
    border-style: solid;
    border-width: 1px;
}
#profile-challenges{
    background-color: white;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-left:15%;
    margin-right: 55%;
    margin-top:2em;
    box-shadow: 1px 3px 4px 4px;
}
#profile-progress{
    background-color: white;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-right: 15%;
    margin-left:55%;
    box-shadow: 1px 3px 4px 4px;
    margin-top: -46px;
}
#friends{
    text-align: center;
    border-left: solid;
    border-right:solid;
    border-left-width: 1px;
    border-right-width:1px;
    margin-right: 15%;
    margin-left:15%;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: 1px 3px 4px 4px;
}
    @media screen and (max-width:10000px){
    
        .exercise-table, .ex-td,.ex-tr,.friend-table, .fr-td, .fr-tr{
            display:inline-block;
        }
        
    }
    @media screen and (max-width:810px){
        #menu a{
            font-size: 20px;
        }
    }
    @media screen and (max-width:705px){
        a,#menu, #menu a{
            display: block;
            padding-bottom: 0em;
            padding-top: 0;
            border-right: none;
            font-size: 20px;
            }
    }
@media screen and (max-width:705px){
        #main-content, #content{
            padding-top: 11em;
            }
    }
@media screen and (max-width:705px){
        #profile-content{
            padding-top: 35%;
            display: inline-block;
            }
    }
@media screen and (max-width:1119px){
        #profile-text, ul, li{
            font-size: 16px;
            padding-left: 0;
            }
    }
@media screen and (max-width:878px){
        #profile-text, ul, li{
            font-size: 16px;
            padding-left: 15%;
            }
    }

    
        
    
    /**************************************
*
*
*achievements
*
***************************************/ 
    
.achievementname{
    border: 1px solid black;
    text-align: center;
    height: fixed;
    height: 2em;
    font-weight: bold;
}
.achievementbox{
    border: 1px solid black;
    text-align: center;
    height: fixed;
    height: 4em;
}
.achievnav{
    background-color: orange;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    width: 100%;
}
.achievnav a{
    padding-left:5%;
    padding-right: 5%;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: .5s background-color;
    font-size: 16px;
}
.achievnav a:hover{
    background-color: dimgray;
}
.achievnav a:active{
     background-color: dimgray;  
}

@media screen and (max-width: 1051px){
    .achievtrophy{
       width: 200px !important;
       height: 153px !important;    
    }
}

    
    /**************************************
    *
    *
    *button
    *
    ***************************************/
    
    a.button{
        border-radius: 8px;
        appearence:button;
        border-style: none;
        background-color: orangered;
        text-decoration: none;
        font-size: 2em;
        color: black;
        
    }
    a.button:hover {
        background-color:orange;
        
    }
    /**************************************
    *
    *
    *bilder rounded
    *
    ***************************************/
    .rounded{
        border-radius: 50%;
        height: 10em;
        width: 10em;
    }
    
    .rounded-profile{
        border-radius: 50%;
        height: 15em;
        width: 15em;
        overflow: hidden;
        text-align: center;
        margin-left: 18%;
        ma
    }
    ul{
        text-align: center;
        margin:0;
        list-style-type: none;
        color: orange;
    }
    li{
        text-align: center;
        color: orange;
    }
    .e-img:hover{
        opacity: 0.5;
        border-bottom: solid;
    }
    
    /**************************************
    *
    *
    *headers
    *
    ***************************************/
    h1,h2{
        text-align: center;
        }
        
        .achievements{
    text-align: center;
    font-size: 45px;
}
@media screen and (max-width:600px){
 .achievements{
  font-size: 24px;   
 }
}
    /**************************************
    *
    *
    *diet-page
    *
    ***************************************/
    #diet-content {
        text-align: center;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 15%;
        margin-left:15%;    
        background-color:white;
        text-align:left;
        line-height: 1.4;
    }
    
    #diet-article {
        margin-left: 10%;
        margin-right:10%;
        margin-top: 4em;
        padding-bottom: 10px;
        font-size: 18px
    }
    
    .head-title-article {
        font-family:inherit;
        font-size: 40px;
        text-align: left;
    }
    #diettable {
        margin-left: 15%;
        margin-right:15%;
        margin-top: 4em;
        padding-bottom: 100px
    }
    .diet-p1 {
        font-weight:bolder;
        font-size: 19px;
    }
    .diet-h2 {
        text-align: left;
        font-size: 25px;
    }
    diet-table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        
        
    }
    th {
        text-align: left;
       
    }
    
    /***************************************
    *
    *
    * progress bar
    *
    **************************************/
    .chestbar{
        background-color: darkgray;
        color: green;
    }
    .chestbar::-moz-progress-bar{
        background-color: black;
        color: green;
    }
    .chestbar::-webkit-progress-value{
        background: green;
    }
    .chestbar::-webkit-progress-bar{
        background-color: darkgray;
    }
    
    .swimbar{
        background-color: darkgray;
        color: yellow;
    }
    .swimbar::-moz-progress-bar{
        background-color: darkgray;
        color: yellow;
    }
    .swimbar::-webkit-progress-value{
        background: yellow;
    }
    .swimbar::-webkit-progress-bar{
        background-color: darkgray;
    }
    
    /***************************************
    *
    *
    * footer menu
    *
    **************************************/
    
    #sub-menu{
        width:auto;
        margin:0;
        border:0;
        background-color: black;
        
        
    }
    #sub-menu ul,li{ 
        float: center;
        text-align: center;
        margin-left:0;
        display: block;
        overflow: hidden;
        
    }
    #footer{
        margin:auto;
        border:auto;
        bottom:auto;
        display:block;
        }
    /***************************************
    *
    *
    * End
    *
    **************************************/
