    body{
        margin:0;
        padding:0;
        border:0;
        background-color: darkgray;
    }
    /**********************************************
    *
    *               menu
    *
    ***********************************************/
    
        #menu{
        position:fixed;
        color:black;
        width:100%;
        padding:0;
        margin:0;
        display: block;
        text-align: center;
        overflow:hidden;
        background-color: black;
        padding-bottom: 2em;
        padding-top: 3em;
        } 
        #register{
        position:fixed;
        color:black;
        width:100%;
        padding:0;
        margin:0;
        display: block;
        text-align: center;
        overflow:hidden;
        background-color: black;
        padding-bottom: 1em;
        padding-top: 1em;
        font-size: 2em;
}
        #logo-register{
        display:inline-block;
        
        
        
}
        #menu a{ 
        padding-left:5%;
        padding-right:5%;
        color: orange;
        text-decoration: none;
        text-align: center;
        border-left: solid;
        border-left-width: 1px;
        font-size: 20px;
        
        }
        #menu a:hover{
        text-decoration: underline;
        }
    
    /***************************************
    *
    *
    * content
    *
    **************************************/
    
    #content{
        padding-top: 10em;
        text-align: center;
        border-left: solid;
        border-right:solid;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 15%;
        margin-left:15%;
        background-color: white;
        
    }
    #content p {
        text-align: left;
         
    }
    
    #main-content{
        margin-left: 25%;
        margin-right:25%;
        margin-top: 0em;   
    }
    #profile-text{
        display: inline-block;
        text-align: center;
        overflow: hidden;
    }
    #profile-content{
        padding-top: 10em;
        border-left: solid;
        border-right:solid;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 15%;
        margin-left:15%;
        background-color: white;
        }
#profile-text li,ul{
    color:black;
}
#shared-images{
    text-align: center;
}
#log{
    overflow: hidden;
    display: inline-block;
    text-align: right;
    float: right;
    padding-top: 6em;
    padding-right: 8em;
}
    @media screen and (max-width:10000px){
    
        .exercise-table, .ex-td,.ex-tr{
            display:inline-block;
        }
        
    }
    @media screen and (max-width:810px){
        #menu a{
            font-size: 20px;
        }
    }
    @media screen and (max-width:656px){
        a,#menu, #menu a{
            display: block;
            padding-bottom: 0;
            padding-top: 0;
            border-left: none;
            font-size: 20px;
            }
    }
 @media screen and (max-width:656px){
        #register{
            padding-bottom: 1em;
            
            }
    }
    
        
    
    /**************************************
    *
    *
    *button
    *
    ***************************************/
    
    a.button{
        border-radius: 8px;
        appearence:button;
        border-style: none;
        background-color: orangered;
        text-decoration: none;
        margin-bottom: 0em;
        font-size: 2em;
        color: black;
        
    }
    a.button:hover {
        background-color:orange;
        
    }
.achievementname{
    border: 1px solid black;
    width: 80%;
    text-align: center;
    height: fixed;
    height: 2em;
    margin-left: 10%;
}
.achievementbox{
    border: 1px solid black;
    width: 80%;
    text-align: center;
    height: fixed;
    height: 96px;
    margin-left:10%;
}
    /**************************************
    *
    *
    *bilder rounded
    *
    ***************************************/
    .rounded{
        border-radius: 50%;
        height: 10em;
        width: 10em;
    }
    
    .rounded-profile{
        border-radius: 50%;
        height: 10em;
        width: 10em;
        overflow: hidden;
        text-align: center;
        margin-left: 18%;
    }
    ul{
        text-align: center;
        margin:0;
        list-style-type: none;
        color: orange;
    }
    li{
        text-align: center;
        color: orange;
    }
    .e-img:hover{
        opacity: 0.5;
        border-bottom: solid;
    }
    
    /**************************************
    *
    *
    *headers
    *
    ***************************************/
    h1,h2{
        text-align: center;
        }
    /**************************************
    *
    *
    *diet-page
    *
    ***************************************/
    #diet-content {
        text-align: center;
        border-left-width: 1px;
        border-right-width:1px;
        margin-right: 15%;
        margin-left:15%;    
        background-color:white;
        text-align:left;
        line-height: 1.4;
    }
    
    #diet-article {
        margin-left: 10%;
        margin-right:10%;
        margin-top: 4em;
        padding-bottom: 10px;
        font-size: 18px
    }
    
    .head-title-article {
        font-family:inherit;
        font-size: 40px;
        text-align: left;
    }
    #diettable {
        margin-left: 15%;
        margin-right:15%;
        margin-top: 4em;
        padding-bottom: 100px
    }
    .diet-p1 {
        font-weight:bolder;
        font-size: 19px;
    }
    .diet-h2 {
        text-align: left;
        font-size: 25px;
    }
    diet-table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        
        
    }
    th {
        text-align: left;
       
    }
    /***************************************
    *
    *
    * footer menu
    *
    **************************************/
    
    #sub-menu{
        width:auto;
        margin:0;
        border:0;
        background-color: black;
        
        
    }
    #sub-menu ul,li{ 
        float: center;
        text-align: center;
        margin-left:0;
        display: block;
        overflow: hidden;
        
    }
    #footer{
        margin:auto;
        border:auto;
        bottom:auto;
        display:block;
        }
    /***************************************
    *
    *
    * End
    *
    **************************************/
